body{
    background-color: rgb(0, 0, 0);
}

/* ---------------------------C1---------------------------- */
.container-c1{
    width: 100%;
}
.container-c1{
    background-color: #8A1EEE;
    text-align: center;
    height: 100%;
    width: 350px;
    border: 10px solid rgb(255, 247, 0);
    /* margin-left: 37%; */
    position: relative;
    left: 560px;
    box-shadow: 2px 2px 100px  rgba(238, 255, 0, 0.425);
    border-radius: 4rem;
}
.title-menu-c1{
    text-shadow: 1px 1px 100px  rgb(255, 255, 255);
    color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-c{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    height: 190px;
    width: 150px;
}
.img-c1{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    height: 190px;
    width: 150px;
}
.date-c1{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.elementary-c1{
    font-size:larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25%;
    text-align: justify;
}

.title-menu-c1{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}
/* ---------------------------C2---------------------------- */

.container-c2{
    width: 100%;
}
.container-c2{
    background-color: #8A1EEE;
    text-align: center;
    margin-top: 1%;
    height: 100%;
    width: 300px;
    border: 10px solid rgb(255, 247, 0);
    float: left;
    margin-left: 5rem;
    margin-bottom: 5%;
    box-shadow: 2px 2px 100px rgba(238, 255, 0, 0.24);
    border-radius: 4rem;
    margin-bottom: 1%;
    position: relative;
}
img{
    display: block; margin-left: auto; margin-right: auto;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
}
.img-c2{
    display: block; margin-left: auto; margin-right: auto;
    height: 350px;
    width: 300px;
    /* border: 1px solid black; */
}

/* ---------------------------C3---------------------------- */
.container-c3{
    width: 100%;
}

.container-c3{
    background-color: #8A1EEE;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    height: 100%;
    width: 300px;
    border: 10px solid rgb(255, 247, 0);
    float: left;
    margin-left: 12rem;
    box-shadow: 2px 2px 100px  rgba(238, 255, 0, 0.24);
    border-radius: 4rem;
    position: relative;

}
img{
    display: block; margin-left: auto; margin-right: auto;
    height: 90%;
    width: 80%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
}
.img-c3{
    display: block; margin-left: auto; margin-right: auto;
    height: 350px;
    width: 300px;
    /* border: 1px solid black; */
}

/* ---------------------------C4---------------------------- */

.container-c4{
    width: 100%;
}
.container-c4{
    background-color: #8A1EEE;
    text-align: center;
    margin-top: 1%;
    height: 100%;
    width: 300px;
    border: 10px solid rgb(255, 247, 0);
    float: left;
    margin-left: 11rem;
    box-shadow: 2px 2px 100px rgba(238, 255, 0, 0.24);
    border-radius: 4rem;
    position: relative;
}
img{
    display: block; margin-left: auto; margin-right: auto;
    height: 90%;
    width: 80%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
}
.img-c4{
    display: block; margin-left: auto; margin-right: auto;
    height: 350px;
    width: 300px;
    /* border: 1px solid black;
    border-radius: 20rem; */
}

/* ---------------------------C5---------------------------- */

.container-c5{
    width: 100%;
}
.container-c5{
    background-color: #8A1EEE;
    text-align: center;
    margin-top: 1%;
    height: 100%;
    width: 300px;
    border: 10px solid rgb(255, 247, 0);
    float: left;
    margin-left: 20rem;
    box-shadow: 2px 2px 100px  rgba(238, 255, 0, 0.24);
    border-radius: 4rem;
    position: relative;
    margin-bottom: 2%;
}

img{
    display: block; margin-left: auto; margin-right: auto;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
}
.img-c5{
    display: block; margin-left: auto; margin-right: auto;
    height: 350px;
    width: 300px;
    /* border: 1px solid black; */
}
/* ---------------------------C6---------------------------- */

.container-c6{
    width: 100%;
}
.container-c6{
    background-color: #8A1EEE;
    text-align: center;
    margin-top: 1%;
    height: 100%;
    width: 300px;
    border: 10px solid rgb(255, 247, 0);
    float: left;
    margin-left: 15rem;
    box-shadow: 2px 2px 100px rgba(238, 255, 0, 0.24);
    border-radius: 4rem;
    position: relative;
}

img{
    display: block; margin-left: auto; margin-right: auto;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
}
.img-c6{
    display: block; margin-left: auto; margin-right: auto;
    height: 350px;
    width: 300px;
    /* border: 1px solid black; */
}
